<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-12 mb-4 ms-auto">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder">Startups And Code</h6>
        </div>
        <div>
          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://twitter.com/startupsandcode" target="_blank">
                <i class="fab fa-twitter text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://github.com/startupsandcode" target="_blank">
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://www.youtube.com/channel/UCkargHJuki9KZbcpjWUj8Bg" target="_blank">
                <i class="fab fa-youtube text-lg opacity-8"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Based on Soft UI Design System by &copy; <a target="_blank" href="https://bit.ly/3fKQZaL"
              target="_blank">Creative
              Tim</a>
            - Coded by <a target="_blank" href="https://appseed.us" target="_blank">AppSeed</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>